name: Graphs CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  graphs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/upptime@v2
        with:
          token: ${{ secrets.GH_PAT }}
          command: graphs
